#map {
  height: 400px;
  background-color: #808080;
  border: 2px solid #000;
}

#map::before {
  content: "Map is loading...";
  font-size: 4em;
  text-align: center;
  margin-top: 4em;
  width: 100%;
  height: 100%;
  position: absolute;
}
.leaflet-popup-content-wrapper {
  width: 100%;
}
